---
import styles from './ContactSection.module.scss';
---

<section class={styles.contactSection}>
  <span>
    <picture>
      <source
        srcset="/public/images/contact-image-pc.webp"
        media="(min-width:768px)"
      />
      <img src="/public/images/contact-image.webp" alt="" />
    </picture>
  </span>
  <div class={styles.container}>
    <h2 class={styles.contactSectionTitle}>
      <span class={styles.contactSectionTitleImage}>
        <picture>
          <source
            srcset="/public/images/contact-image02-pc.webp"
            media="(min-width:768px)"
          />
          <img src="/public/images/contact-image02.webp" alt="" />
        </picture>
      </span>
      <span class={styles.contactSectionTitleText}>
        grow <span class={styles.contactSectionTitleTextSpan}>with us!</span>
      </span>
    </h2>
    <p class={styles.contactSectionText}>
      ノベルティは、チャンスをつかみ取る力のある人募集しています
    </p>
    <div class={styles.contactSectionButtonGroup}>
      <a href="#" class={styles.contactSectionButton}>
        募集要項・エントリー
        <span class={styles.contactItemIcon}>
          <span class={styles.btnArrowIcon}>
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                d="M2 1.95508H12M12 1.95508V11.9551M12 1.95508L2 11.9551"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </span>
        </span>
      </a>
      <a href="#" class={styles.contactSectionButton}>
        カジュアル面談
        <span class={styles.contactItemIcon}>
          <span class={styles.btnArrowIcon}>
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                d="M2 1.95508H12M12 1.95508V11.9551M12 1.95508L2 11.9551"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </span>
        </span>
      </a>
    </div>
  </div>
  <div class={styles.contactSectionImageContainer}>
    <span class={styles.contactSectionImage}>
      <picture>
        <source
          srcset="/public/images/image-star-03-pc.webp"
          media="(min-width:768px)"
        />
        <img src="/public/images/image-star-03.webp" alt="" />
      </picture>
    </span>
  </div>
</section>
