---
import styles from './ImagesSection.module.scss';
---

<section class={styles.imagesSection}>
  <div class={styles.imagesSectionContent}>
    <span class={styles.imagesSectionImage}>
      <picture>
        <source
          srcset="/images/image-section-image01-pc.webp"
          media="(min-width:768px)"
        />
        <img src="/images/image-section-image01.webp" alt="" />
      </picture>
    </span>
    <span class={styles.imagesSectionImage}>
      <picture>
        <source
          srcset="/images/image-section-image02-pc.webp"
          media="(min-width:768px)"
        />
        <img src="/images/image-section-image02.webp" alt="" />
      </picture>
    </span>
  </div>
  <span class={styles.imagesSectionBackgroundImage}>
    <svg
      fill="none"
      height="157"
      viewBox="0 0 196 157"
      width="196"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      aria-hidden="true"
      ><clipPath id="a"><path d="m0 0h196v157h-196z"></path></clipPath><mask
        id="b"
        height="40"
        maskUnits="userSpaceOnUse"
        width="40"
        x="78"
        y="0"
        ><path
          d="m98.0654.00005602-19.5869 19.58684398 19.5869 19.5869 19.5866-19.5869z"
          fill="#fff"></path></mask
      ><mask
        id="c"
        height="40"
        maskUnits="userSpaceOnUse"
        width="40"
        x="156"
        y="0"
        ><path
          d="m176.413.00005602-19.587 19.58684398 19.587 19.5869 19.587-19.5869z"
          fill="#fff"></path></mask
      ><mask
        id="d"
        height="40"
        maskUnits="userSpaceOnUse"
        width="40"
        x="0"
        y="39"
        ><path
          d="m19.7177 39.1739-19.586841 19.5868 19.586841 19.5869 19.5869-19.5869z"
          fill="#fff"></path></mask
      ><mask
        id="e"
        height="40"
        maskUnits="userSpaceOnUse"
        width="40"
        x="39"
        y="39"
        ><path
          d="m58.8915 39.1739-19.5868 19.5868 19.5868 19.5869 19.5869-19.5869z"
          fill="#fff"></path></mask
      ><mask
        id="f"
        height="40"
        maskUnits="userSpaceOnUse"
        width="40"
        x="78"
        y="39"
        ><path
          d="m98.0654 39.1739-19.5869 19.5868 19.5869 19.5869 19.5866-19.5869z"
          fill="#fff"></path></mask
      ><mask
        id="g"
        height="40"
        maskUnits="userSpaceOnUse"
        width="40"
        x="117"
        y="39"
        ><path
          d="m137.239 39.1739-19.587 19.5868 19.587 19.5869 19.587-19.5869z"
          fill="#fff"></path></mask
      ><mask
        id="h"
        height="40"
        maskUnits="userSpaceOnUse"
        width="40"
        x="78"
        y="78"
        ><path
          d="m98.0654 78.3477-19.5869 19.5869 19.5869 19.5864 19.5866-19.5864z"
          fill="#fff"></path></mask
      ><mask
        id="i"
        height="40"
        maskUnits="userSpaceOnUse"
        width="40"
        x="117"
        y="78"
        ><path
          d="m137.239 78.3477-19.587 19.5869 19.587 19.5864 19.587-19.5864z"
          fill="#fff"></path></mask
      ><mask
        id="j"
        height="40"
        maskUnits="userSpaceOnUse"
        width="40"
        x="156"
        y="78"
        ><path
          d="m176.413 78.3477-19.587 19.5869 19.587 19.5864 19.587-19.5864z"
          fill="#fff"></path></mask
      ><mask
        id="k"
        height="40"
        maskUnits="userSpaceOnUse"
        width="40"
        x="117"
        y="117"
        ><path
          d="m137.239 117.522-19.587 19.586 19.587 19.587 19.587-19.587z"
          fill="#fff"></path></mask
      ><mask
        id="l"
        height="40"
        maskUnits="userSpaceOnUse"
        width="40"
        x="156"
        y="117"
        ><path
          d="m176.413 117.522-19.587 19.586 19.587 19.587 19.587-19.587z"
          fill="#fff"></path></mask
      ><g clip-path="url(#a)"
        ><g mask="url(#b)"
          ><path
            d="m98.0655 39.1737-.3965-8.2712h-.054c0-6-4.865-10.8651-10.865-10.8651v-.0536l-8.2715-.3969 8.2715-.3969v-.0536c6 0 10.865-4.8651 10.865-10.86512h.054l.3965-8.27124948.3975 8.27124948h.053c0 6.00002 4.865 10.86512 10.865 10.86512v.0535l8.271.397-8.271.3969v.0536c-6 0-10.865 4.8651-10.865 10.8651h-.053z"
            fill="#3730ff"></path></g
        ><g mask="url(#c)"
          ><path
            d="m176.413 39.1737-.396-8.2712h-.054c0-6-4.865-10.8651-10.865-10.8651v-.0536l-8.272-.3969 8.272-.3969v-.0536c6 0 10.865-4.8651 10.865-10.86513h.054l.396-8.27123948.398 8.27123948h.053c0 6.00003 4.865 10.86513 10.865 10.86513v.0535l8.271.397-8.271.3969v.0536c-6 0-10.865 4.8651-10.865 10.8651h-.053z"
            fill="#3730ff"></path></g
        ><g mask="url(#d)"
          ><path
            d="m19.7177 78.3474-.3963-8.271h-.054c0-6-4.8651-10.8655-10.86519-10.8655v-.0535l-8.271351-.397 8.271351-.3965v-.0535c6.00009 0 10.86519-4.8655 10.86519-10.8654h.054l.3963-8.2712.3975 8.2712h.0531c0 5.9999 4.8651 10.8654 10.8652 10.8654v.0535l8.2711.3965-8.2711.397v.0535c-6.0001 0-10.8652 4.8655-10.8652 10.8655h-.0531z"
            fill="#3730ff"></path></g
        ><g mask="url(#e)"
          ><path
            d="m58.8915 78.3474-.3965-8.271h-.054c0-6-4.865-10.8655-10.865-10.8655v-.0535l-8.2713-.397 8.2713-.3965v-.0535c6 0 10.865-4.8655 10.865-10.8654h.054l.3965-8.2712.3975 8.2712h.053c0 5.9999 4.865 10.8654 10.8655 10.8654v.0535l8.271.3965-8.271.397v.0535c-6.0005 0-10.8655 4.8655-10.8655 10.8655h-.053z"
            fill="#3730ff"></path></g
        ><g mask="url(#f)"
          ><path
            d="m98.0655 78.3474-.3965-8.271h-.054c0-6-4.865-10.8655-10.865-10.8655v-.0535l-8.2715-.397 8.2715-.3965v-.0535c6 0 10.865-4.8655 10.865-10.8654h.054l.3965-8.2712.3975 8.2712h.053c0 5.9999 4.865 10.8654 10.865 10.8654v.0535l8.271.3965-8.271.397v.0535c-6 0-10.865 4.8655-10.865 10.8655h-.053z"
            fill="#3730ff"></path></g
        ><g mask="url(#g)"
          ><path
            d="m137.239 78.3474-.396-8.271h-.054c0-6-4.866-10.8655-10.866-10.8655v-.0535l-8.271-.397 8.271-.3965v-.0535c6 0 10.866-4.8655 10.866-10.8654h.054l.396-8.2712.397 8.2712h.054c0 5.9999 4.865 10.8654 10.865 10.8654v.0535l8.271.3965-8.271.397v.0535c-6 0-10.865 4.8655-10.865 10.8655h-.054z"
            fill="#3730ff"></path></g
        ><g mask="url(#h)"
          ><path
            d="m98.0655 117.522-.3965-8.272h-.054c0-6-4.865-10.8646-10.865-10.8646v-.0535l-8.2715-.397 8.2715-.397v-.0535c6 0 10.865-4.865 10.865-10.865h.054l.3965-8.2715.3975 8.2715h.053c0 6 4.865 10.865 10.865 10.865v.0535l8.271.397-8.271.397v.0535c-6 0-10.865 4.8646-10.865 10.8646h-.053z"
            fill="#3730ff"></path></g
        ><g mask="url(#i)"
          ><path
            d="m137.239 117.522-.396-8.272h-.054c0-6-4.866-10.8646-10.866-10.8646v-.0535l-8.271-.397 8.271-.397v-.0535c6 0 10.866-4.865 10.866-10.865h.054l.396-8.2715.397 8.2715h.054c0 6 4.865 10.865 10.865 10.865v.0535l8.271.397-8.271.397v.0535c-6 0-10.865 4.8646-10.865 10.8646h-.054z"
            fill="#3730ff"></path></g
        ><g mask="url(#j)"
          ><path
            d="m176.413 117.522-.396-8.272h-.054c0-6-4.865-10.8646-10.865-10.8646v-.0535l-8.272-.397 8.272-.397v-.0535c6 0 10.865-4.865 10.865-10.865h.054l.396-8.2715.398 8.2715h.053c0 6 4.865 10.865 10.865 10.865v.0535l8.271.397-8.271.397v.0535c-6 0-10.865 4.8646-10.865 10.8646h-.053z"
            fill="#3730ff"></path></g
        ><g mask="url(#k)"
          ><path
            d="m137.239 156.695-.396-8.271h-.054c0-6-4.866-10.865-10.866-10.865v-.054l-8.271-.397 8.271-.397v-.053c6 0 10.866-4.865 10.866-10.865h.054l.396-8.272.397 8.272h.054c0 6 4.865 10.865 10.865 10.865v.053l8.271.397-8.271.397v.054c-6 0-10.865 4.865-10.865 10.865h-.054z"
            fill="#3730ff"></path></g
        ><g mask="url(#l)"
          ><path
            d="m176.413 156.695-.396-8.271h-.054c0-6-4.865-10.865-10.865-10.865v-.054l-8.272-.397 8.272-.397v-.053c6 0 10.865-4.865 10.865-10.865h.054l.396-8.272.398 8.272h.053c0 6 4.865 10.865 10.865 10.865v.053l8.271.397-8.271.397v.054c-6 0-10.865 4.865-10.865 10.865h-.053z"
            fill="#3730ff"></path></g
        ></g
      ></svg
    >
  </span>
</section>
